.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-top: 50px; /* gutter size offset */
  width: 90%;
  margin: auto;
}
.my-masonry-grid_column {
  padding-left: 50px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.ant-layout-content {
  /* background: #8360c3;
  background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);
  background: linear-gradient(to left, #2ebf91, #8360c3); */
}

.logo {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/Firewatch_Logo.png");
  height: 50px;
  background-size: cover;
}
.ant-layout-sider {
  background: #0f2027 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ant-menu-dark {
  background: none !important;
}
