/* HERO HEADERS */
.hero-header {
  background: #3b8d99;
  background-image: url("./assets/bg.png");
  width: 100%;
  height: 665px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.loader-hero {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  text-align: center;
  z-index: 5015;
  color: red;
  cursor: pointer;
}
.hero-bottom {
  background: #aa4b6b;
  background-image: url("./assets/bottom.png");
  width: 100%;
  height: 115px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-small {
  background: #3b8d99;
  background-image: url("./assets/bg-small.png");
  width: 100%;
  height: 268px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*  */

/* SCROLL TO TOP && LOADER */
.scroll-top {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 5015;
  color: red;
  cursor: pointer;
}
.loaders {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  z-index: 5015;
  color: red;
}

.loader-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5005;
  background: #3b8d99;
}
/*  */

/* WRAPPERS */
.landing-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #aa4b6b;
  background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);
  background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);

  color: #fff;
}
.comment-wrapper {
  margin-top: -20px;
}
.landing-wrapper p {
  color: black;
}
.landing-container {
  background: none;
}
/*  */

/* NAVBARS */
.navbar-landing {
  margin: auto;
  text-align: center;
}
.nav-landing {
  margin: auto;
}
.nav-link {
  font-size: 22px;
  font-family: Calibri;
  text-transform: uppercase;
  letter-spacing: 5px;
  transform: letter-spacing 0.5s ease-in;
}
.nav-link:hover {
  letter-spacing: 7px;
}

.landing-divider {
  border: solid 0.5px rgb(143, 140, 140);
  width: 80%;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
}
/*  */

/* MASONRY LAYOUT */
.masonry {
  display: flex;
  margin: auto;
}
.masonry_column {
  padding-left: 20px;
  padding-right: 20px;
  background-clip: padding-box;
}

.masonry_column > div {
  background: grey;
  margin-bottom: 30px;
}
/*  */

/* LOGO */
.logo {
  margin: 15px;
  height: 45px;
  background-image: url("./assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.logo-small {
  margin: 15px;
  height: 45px;
  background-image: url("./assets/logo-small.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/*  */

/* CUSTOM LANDING */
.landing-latest {
  color: #000;
}

.landing-categories {
  margin: auto;
  text-align: right;
}
.landing-categories * {
  margin: 5px;
}
.card-custom {
  background: none;
  box-shadow: none;
}
.card-custom-title {
  color: #fff;
  font-size: 25px;
}
.card-custom-text {
  color: #fff !important;
  font-size: 20px;
}

.fade {
  background: rgba(0, 0, 0, 0.7) !important;
}
/*  */
